html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
	font-family: 'Poppins', sans-serif;

}
* {
	box-sizing: border-box;
  }

body {
    background: darkslategrey;
}
.reg_fomr_img {
  max-width: 100%;
  width: 750px;
  height: 650px;
  background-image: url(./login-users.png);
    background-position: right;
    background-size: cover;

}
.login_bg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 5rem;
    width: 1100px;
    height: 650px;
    background: darkkhaki;
    border-radius: 1rem;
}

#form__reg {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 20px;
    font-size: 800;
} 
#form__reg label {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 800;
}
.in_lab_fomr {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

}
.radio_f {
    margin: 0 auto;
    margin-bottom: 1rem;
}
button {
    color: #fff;
    width: 150px;
    margin: 0 auto;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: darkslategrey;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.in_lab_fomr label {
    text-align: center;
}
.in_lab_fomr input {
    border-radius: 5px;
    height: 2rem;
    outline: none;
    border: none;
}
.error__text {
    display: block;
    color: brown;
    font-weight: 800;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.2rem;
}
i {
    margin-left: 0.5rem;
}
.error__email {
    font-size: 1.2rem;
    font-size: 800;
    text-align: center;
    margin-top: 0.5rem;
}
#set{
    display:block ;
    position:relative;
    margin:auto;
}
#count{
   margin:2%; margin-bottom:2%;
   color:#000; font-size:15px;
   font-weight:bolder;
}
#see{
    display:inline-block;
    color:gray;
    margin:auto; 
    float: right;
    cursor:pointer; 
    transition-duration:0.2s;
}
#check0,#check1,#check2,#check3,#check4{
   display:block;
   position:relative;
   color:red; font-size:18px;
   width:92% ;
   white-space: nowrap;
   margin-top: 0.2rem;
}
